/*this is index file*/ 
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    html, body {
        margin: 0% auto;
        min-height: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    html{
        position: relative;
    }
    .NAME {
        color: rgb(255, 170, 66);
    }

    /*this is header*/

    #header {
        width: 100%;
        position: fixed;
        height: 100px;
    }
    #logo {
        color: antiquewhite;
        background-color: rgb(43, 43, 43);
        border-bottom: 4px solid rgb(255, 170, 66);
        float: left;
        font-size: 18px;
        width: 25%;
        height: 100px;
        text-align: center;
        padding-top: 38px;
        text-decoration: none;
    }
    #logo:hover {
        color: rgb(255, 170, 66);
    }
    #NAV {
        background-color: rgb(253, 231, 204);
        border-bottom: 4px solid rgb(216, 1, 1);
        width: 75%;
        float: right;
        font-size: 18px;
        height: 100px;
        text-align: right;
        padding: 38px 17px 0px 0px;
    }
    #contact {
        color: rgb(43, 43, 43);
        text-decoration: none;
        padding: 5px;
        margin: 0px 5px 0px 7px;
        border-right: 2px solid rgb(216, 1, 1);
        border-left: 2px solid rgb(216, 1, 1);
    }
    #contact:hover {
        color: rgb(216, 1, 1);
    }
    #portfolio {
        color: rgb(43, 43, 43);
        text-decoration: none;
        padding: 5px;
        margin: 0px 7px 0px 5px;
        border-left: 2px solid rgb(216, 1, 1);
        border-right: 2px solid rgb(216, 1, 1);
    }
    #portfolio:hover {
        color: rgb(216, 1, 1);
    }

    /*this is main content*/ 
    #bio {
        width: 100%;
    }
    #container {
        margin: 0px 120px 10px 120px;
        min-height: 100%;
        overflow: auto;
    }
    #about {
        width: 100%;
        height: 70px;
        border-bottom: 2px solid rgb(255, 170, 66);
        float: left;
        font-size: 23px;
        margin: 110px 0px 10px 0px;
        padding-top: 25px;
        color: rgb(138, 76, 0);
    }
    #IMG {
        float: left;
    }
    p {
        float: left;
        width: 82%;
        height: 300px;
        line-height: 30px;
        margin: 0px 0px 20px 20px;
        color: rgb(138, 76, 0);
        font-weight: 500;
        font-size: 16px;
    }
    .social {
        padding: 40px 0px 40px 0px;
        width: 100%;
        overflow: auto;
        margin-bottom: 100px;
        float: left;
        border: none;
    }
    #h1 {
        width: 100%;
        height: 70px;
        border-bottom: 2px solid rgb(255, 170, 66);
        float: left;
        font-size: 23px;
        margin: 10px 0px 10px 0px;
        color: rgb(138, 76, 0);
    }
    .icons {
        margin: 30px 50px 0px 0px;
    }
    #strong {
        background-color: rgb(43, 43, 43);
        color: antiquewhite;
        padding: 5px;
    }
    .projects {
        background-color: rgb(43, 43, 43);
        float: left;
        width: 100%;
        /* height: 70px; */
    }
    .projects a {
        color: antiquewhite;
        text-decoration-color: none;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        padding: 8px;
    }
    .projects a:hover {
        color: rgb(255, 170, 66);
    }

    /*this is footer*/

    #footer {
        height: 100px;
        border-top: 4px solid rgb(255, 170, 66);
        padding: 25px;
        background-color: rgb(43, 43, 43);
        color: antiquewhite;
        font-size: 12px;
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 100%;
        display: inline-block;
    }
    #footer a {
        text-decoration: none;
        color: antiquewhite;
    }
    #footer a:hover {
        color: rgb(255, 170, 66);
    }
    .number2 {
        float: right;
        width: 50%;
        text-align: right;
    }
    .number {
        display: inline-block;
        width: 50%;
    }

/* this is contact file*/

    #name {
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(255, 170, 66);
    }
    #Name {
        background-color: rgb(43, 43, 43);
        color: rgb(255, 192, 115);
        padding: 5px 55px 5px 55px;
    }
    #email {
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(255, 170, 66);
    }
    #Email {
        background-color: rgb(43, 43, 43);
        color: rgb(255, 192, 115);
        padding: 5px 55px 5px 55px;
    }
    #message {
        height: 200px;
        margin: 10px 0px 10px 0px;
        padding: 10px 0px 10px 0px;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(255, 170, 66);
    }
    #Message {
        background-color: rgb(43, 43, 43);
        color: rgb(255, 192, 115);
        padding: 5px 45px 5px 45px;
    }
    #submit {
        background-color: rgb(43, 43, 43);
        color: antiquewhite;
        padding: 20px;
        width: 170px;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #submit:hover {
        color: rgb(255, 170, 66);
    }

/*this is portfolio file*/

    #Pictures {
        float: left;
        margin: 20px 100px 20px 0px;
    }
    .titles {
        margin-top: 30px;
        padding: 20px;
        background-color: rgb(43, 43, 43);
        color: antiquewhite; 
        font-size: 17px;
    }
    #span {
        color: rgb(255, 170, 66);
    }